@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    #f56565,
    #ed8936
  ); /* Esto corresponde a "from-red-500 to-orange-500" */
}
